{{ define "main" }}
	<main>
		<article>
			<h1>
				<a href="{{.Parent.Permalink}}">{{ .Type }}</a> / {{ .Title }}
			</h1>
			{{ if .Params.homepage }}
			<a class="button" href="{{ .Params.github }}"> Homepage </a>
			{{ end }}
			{{ if .Params.github }}
			<a class="button" href="{{ .Params.github }}"> Code </a>
			{{ end }}
			{{ if .Params.paper }}
			<a class="button" href="{{ .Params.github }}"> Paper </a>
			{{ end }}

			<hr>
			<div>
				{{ .Content }}
			</div>
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
			<hr>
		</article>
	</main>
{{ end }}
